$main_background_color: #f8e193;
$main_text_color: white;
.logo {
    margin: 0;
    padding: 0;
    display: block;
    max-width: 220px;
    font-weight: bold;
    font-size: 120%;
    color: $main_text_color;
    span {
        display: block;
        border-top: 1px solid;
        font-size: 50%;
    }
}

.header-contacts {
    margin: 0;
    padding: 0;
    display: block;
    max-width: 250px;
    min-width: 250px;
    font-weight: bold;
    font-size: 150%;
    color: $main_text_color;
    a {
        color: $main_text_color;
    }
    .email {
        display: block;
        font-size: 50%;
    }
}

.header {
    max-height: 6em;
}

.nav-header {
    max-height: 2em;
}

header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cf0404+5,ff3019+75 */
    background: #cf0404;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #cf0404 5%, #ff3019 75%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #cf0404 5%, #ff3019 75%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #cf0404 5%, #ff3019 75%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0404', endColorstr='#ff3019', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

@media (min-width: 576px) {
    /* CSS для: 576px <= ширины <= 767px */
    header {
        img {
            width: 70%;
        }
        .header {
            max-height: 4em;
        }
    }
}

/* md-устройства (больше или равно 768px) */

@media (min-width: 768px) {
    /* CSS для: 768px <= ширины <= 991px */
    header {
        img {
            width: 80%;
        }
        .header {
            max-height: 4em;
        }
    }
}

/* lg-устройства (больше или равно 992px) */

@media (min-width: 992px) {
    /* CSS для: 992px <= ширины <= 1119px */
    header {
        img {
            width: 100%;
        }
        .header {
            max-height: 4em;
        }
    }
}

/* xl-устройства (больше или равно 1200px) */

@media (min-width: 1200px) {
    /* CSS для: ширины >= 1200px */
    .header {
        max-height: 4em;
    }
}

.single-product-card {
    min-width: 100%;
    @media (min-width: 576px) {
        /* CSS для: 576px <= ширины <= 767px */
        min-width: 25%;
        max-width: 40%;
    }
}

.text-body {
    margin-top: 1em;
    @media (min-width:576px) {
        margin-top: 3em;
    }
    h1 {
        font-size: 1.1rem;
        @media (min-width:576px) {
            font-size: 1.3rem;
        }
    }
    h2 {
        font-size: 1rem;
        @media (min-width:576px) {
            font-size: 1.2rem;
        }
    }
    h3 {
        font-size: 0.8rem;
        @media (min-width:576px) {
            font-size: 1rem;
        }
    
    }
}


.palletes-cards {
    margin: 2em 2em 1em 2em;
}

.product-pill {
    font-size: 90%;
}

footer {
    min-height: 2em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cf0404+5,ff3019+75 */
    background: #cf0404;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #cf0404 5%, #ff3019 75%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #cf0404 5%, #ff3019 75%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #cf0404 5%, #ff3019 75%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0404', endColorstr='#ff3019', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.articles-border {
    list-style: none;
    padding: 0;
    li {
        //font-family: "Trebuchet MS", "Lucida Sans";
        padding: 7px 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        border-left: 10px solid #f05d22;
        box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1), -2px -2px 5px 0 rgba(0, 0, 0, .1), 2px 2px 5px 0 rgba(0, 0, 0, .1), -2px 2px 5px 0 rgba(0, 0, 0, .1);
        font-size: 100%;
        letter-spacing: 1px;
        transition: 0.3s all linear;
        a {
            color: black;
        }
    }
    li:nth-child(5n+1) {
        border-color: #8bc63e;
    }
    li:nth-child(5n+2) {
        border-color: #fcba30;
    }
    li:nth-child(5n+3) {
        border-color: #1ccfc9;
    }
    li:nth-child(5n+4) {
        border-color: #493224;
    }
    li:hover {
        border-left: 10px solid transparent;
    }
    li:nth-child(5n):hover {
        border-right: 10px solid #f05d22;
    }
    li:nth-child(5n+1):hover {
        border-right: 10px solid #8bc63e;
    }
    li:nth-child(5n+2):hover {
        border-right: 10px solid #fcba30;
    }
    li:nth-child(5n+3):hover {
        border-right: 10px solid #1ccfc9;
    }
    li:nth-child(5n+4):hover {
        border-right: 10px solid #493224;
    }
}

.brd {
    border: 2px solid black;
}